*{
  padding: 0;
  margin: 0;
}
:root{
  --primary-color: rgb(158, 4, 4);
  --secondary-color:rgb(22, 34, 39);
  --tertiary-color: hsl(344, 54%, 31%);
  --quarternary-color: hsl(209, 55%, 37%);
}
body{
  overflow-x: hidden;
  height: 100vh;
  font-family: Ariel, helvetica, sans-serifs;
  background: linear-gradient(135deg, var(--tertiary-color), var(--quarternary-color));
}
