<p>settings-menu works!</p>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="true"
          aria-controls="collapseOne">
          paramètre générale
        </button>
      </h5>
    </div>
    <a><button>modifier</button></a>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="true"
          aria-controls="collapseOne">
          Youtube
        </button>
      </h5>
    </div>
    <div id="collapseOne">
      <div class="card-body">
        <a><button>modifier</button></a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          DAB+
        </button>
      </h5>
    </div>
    <a><button>modifier</button></a>
  </div>
</div>
