
<div id="titre">
    <h1>AmpConnect</h1>
    <h3>Donnez une seconde vie à vos appareils non-connectés</h3>
</div>

<div id="slider">
    <input type="radio" name="slider" id="slider1" checked>
    <input type="radio" name="slider" id="slider2">
    <input type="radio" name="slider" id="slider3">
    <input type="radio" name="slider" id="slider4">
    <input type="radio" name="slider" id="slider5">

    <label for="slider1" id="slide1"><img src="../../../assets/img/bannering2.jpg"></label>
    <label for="slider2" id="slide2"><img src="../../../assets/img/bannering.jpg"></label>
    <label for="slider3" id="slide3"><img src="../../../assets/img/bannering2.jpg"></label>
    <label for="slider4" id="slide4"><img src="../../../assets/img/bannering.jpg"></label>
    <label for="slider5" id="slide5"><img src="../../../assets/img/bannering2.jpg"></label>
</div>

<div id="PresentationApp">
    <img src="../../../assets/img/smartphone.png" id="smartphoneImg">

    <div id="TitreDesc">
        <h3 class="AppSmartphone" id="TitreSmartphone">Disponible aussi sur smartphone</h3>
        <p class="AppSmartphone" id="DescriptionApp">Grâce à notre application disponible<br>sur <b>Android</b> et <b>IOS</b>,<br>vous pourrez facilement mettre<br>de la musique sur votre ampli !</p>
    </div>
</div>