
<div id="titre">
    <h1>AmpConnect</h1>
    <h3>C'est aussi une application qui t'aide à streamer depuis Youtube</h3>
</div>

<div id="slider">
    <input type="radio" name="slider" id="slider1" checked>
    <input type="radio" name="slider" id="slider2">
    <input type="radio" name="slider" id="slider3">
    <input type="radio" name="slider" id="slider4"> 
    <input type="radio" name="slider" id="slider5">

    <label for="slider1" id="slide1"><img src="../../../assets/img/appli_music_local.jpg"></label>
    <label for="slider2" id="slide2"><img src="../../../assets/img/appli_youtube4.jpg"></label>
    <label for="slider3" id="slide3"><img src="../../../assets/img/appli_youtube3.jpg"></label>
    <label for="slider4" id="slide4"><img src="../../../assets/img/appli_youtube2.jpg"></label>
    <label for="slider5" id="slide5"><img src="../../../assets/img/appli_youtube.jpg"></label>
</div>

<div id="PresentationApp">
    <img src="../../../assets/img/smartphone.png" id="smartphoneImg">

    <div id="TitreDesc">
        <h3 class="AppSmartphone" id="TitreSmartphone">Disponible sur Android</h3>
        <p class="AppSmartphone" id="DescriptionApp">L'application est disponible sous forme de fichier .apk sur le 
            github du projet. Télécharge-la afin de pouvoir contrôler ton Ampli fraichement connectée !</p>
        <a href="https://github.com/simonNolf/AmpConnect/raw/main/appli/app/build/outputs/apk/debug/ampconnect.apk" target="blank"><input type="button" id="Telecharger" value="Télécharger"></a>
    </div>
</div>