<div class="banner container-fluid">
    <p class="container">
        AmpConnect est un projet open-source qui vise à prolonger la vie de tes vieux appareils audio en les modernisant.  
    </p>
</div>
<div class="Teams container-fluid">
    <p class="container">
        Nous sommes une petite équipe de 6 étudiants belge en 3ème<br>
        année de notre bachelier et nous avons realisé ce projet dans le cadre de nos<br>
        études à l'EPHEC en technologie de l'informatique.
    </p>
</div>
<div class="Objectifs container-fluid">
    <p class="container">
        Il nous était demandé que notre projet réponde à un ou plusieurs Objectifs de<br>
        Développement Durable (ODD), nous avons pensé à tous ces vieux appareils audio qui<br>
        se retrouvent à la décharge alors qu'ils sont encore parfaitement fonctionnels et que la qualité<br>
        du son est toujours aussi bonne (les appareils audio ne vieillissent pas).<br><br>
        
        Ces appareils sont jetés car leurs connectiques deviennent obsolètes. C'est ainsi que nous avons<br>
        décidé de lancer ce projet afin de permettre à tous ceux qui le veulent de continuer à utiliser<br>
        leur matériel mais sans contrainte de rétro-compatibilitée.
    </p>
</div>