<section id="ContenuContact">
    <img src="../../../assets/img/contact.jpeg" id="ImgContact">

    <div id="TextContact">
        <h2>Comment rejoindre l'aventure ?</h2>
        <h5>
            Rejoins la communauté AmpConnect
            sur le Discord pour échanger, apporter
            de nouvelles idées, une amélioration ou simplement pour
            trouver de l'aide !
            <br>
            <br>
            <a href="https://discord.gg/xjAk495nBq" target="blank"><img id="JoinDiscord" src="../../../assets/img/discord.png"></a>
        </h5>
    </div>
</section>