<div class="container-fluid footer">
  <div class="row">
    <!-- name -->
    <div class="col-lg-6">
      <h1>AmpConnect</h1>
      <p>Ne le jette pas, Connecte le !</p>
    </div>
    <!-- nav -->
    <div id="nav" class="col-lg-4">
      <a routerLink="">Accueil</a>
      <a routerLink="product">Produit</a>
      <a routerLink="about">A propos</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- socialmedia -->
    <div class="col-lg-2">
      <a href="https://discord.gg/xjAk495nBq" target="_blank"><i class="bi bi-discord"></i></a>
      <a href="https://github.com/simonNolf/AmpConnect" target="_blank"><i class="bi bi-github"></i></a>
    </div>
  </div>
</div>

